<div class="row">
  <h1>設定</h1>
    <%= link_to 'アレルギー', 'allergies' %>
    <%= link_to 'お気に入りの削除', 'favdeleteselect' %>
    <tb>
    <%= link_to '退会', {:controller => "user_pages" ,:action => "destroy"}, method: :delete, data:{confirm: "本当に退会しますか？"}%>
    </td>
</dev>
