<div class="row">
  <h1>お気に入りの削除</h1>
  <p>削除したいレシピを選択してください</p>
  <% @user.dishes.each do |userfav| %>
    <%= link_to userfav.dishname, :controller => "user_pages" ,:action => "favdelete", :favid => userfav.id %><br>
  <% end %>
</div>
